    body {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #161616;
      color: aliceblue;
      line-height: 1.6;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 12px;
    }
    .section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      background: #161616;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 12px;
    }
    .section:nth-child(even) {
      flex-direction: row-reverse;
    }
    .text-container {
      flex: 1;
      padding: 12px;
      text-align: left;
      margin-left: 0px;
    }
    .image-container {
      flex: 1;
      text-align: center;
    }
    img.produto {
      max-width: 310px;
      height: auto;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    img.dev {
      max-width:500px;
      max-height:500px;
      height: auto;
      border-radius: 5%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .button {
      display: inline-block;
      padding: 15px 40px;
      background-color: #28a745;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      transition: background-color 0.3s, transform 0.3s;
      font-weight: bold;
    }
    .button:hover {
      background-color: #218838;
      transform: scale(1.05);
    }
    h1, h2 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      text-align: justify;
    }
    @media screen and (max-width: 1200px) {
      h1 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 1em;
      }
    }
    @media screen and (max-width: 768px) {
      .section {
        flex-direction: column;
        text-align: center;
      }
      .section:nth-child(1) {
        flex-direction: column-reverse;
      }
      .section:nth-child(even) {
        flex-direction: column;
      }
      .text-container, .image-container {
        flex: none;
        width: 100%;
      }
      img.produto, img.dev {
        max-width: 100%;
      }
      img.produto {
        max-width: 45%;
        border-radius:12px;
      }
      h1 {
        font-size: 1.8em;
      }
      h2 {
        font-size: 1.3em;
      }
      h1, h2, p {
        padding-right: 20px;
      }
      div.image-container {
        margin-right: 20px;
      }
      .button {
        padding: 10px 30px;
      }
    }
    @media screen and (max-width: 480px) {
      h1 {
        font-size: 1em;
      }
      h2 {
        font-size: 0.7em;
      }
      p {
        font-size: small;
      }
      .button {
        padding: 5px 25px;
      }
    }
